@charset "utf-8";
/* CSS Document */

.public {
	background-color: #FF0000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
  width: 135px;
  height: 23px;
  
 
  
  
}